
@{
    ViewData["Title"] = "Modeller";
}
@model Turbo.ViewModel.ElanYaratViewModel
<h2>Modeller @ViewBag.Name</h2>

<partial name="_MainCarPartial" model="@Model.Elanlar.OrderByDescending(x=>x.YazilmaVaxti)" />
