
@model Rey
<div style="margin:20px" class="col-lg-12">
    <a href="#"><h4>@Model.User.Ad @Model.User.Soyad</h4></a>
    <span>@Model.dateTime.ToString("dd MMMM yyyy HH:mm")</span>
    <p>@Model.Text</p>
    <hr />
</div>